# LocalStack / S3
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_REGION=us-east-1
S3_ENDPOINT=http://localstack:4566
S3_BUCKET=nyc-taxi-datalake

# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC_TRIPS=taxi-trips

# Iceberg
ICEBERG_WAREHOUSE=s3://nyc-taxi-datalake/warehouse
ICEBERG_CATALOG=nyc_taxi
ICEBERG_TABLE=trips

# Filtros do Consumer
TRIP_FILTER_DATE_START=2009-01-01
TRIP_FILTER_DATE_END=2015-06-30
TRIP_FILTER_BBOX=-74.05,40.63,-73.75,40.85
